body{
    background: silver;
}

#header{
    padding: 20px;
    background: #2ed02e;
}

#content{
    background: white;
    padding: 20px;
}

#footer{
    background: rgb(151, 151, 212);
    padding: 20px;
}